@import '../../styles/styleConstants.scss';

.searchbar {
  display: flex;
  flex: 1;

  input {
    width: 100%;
    padding: 20px 0 20px 24px;
    margin-right: 24px;
    border: 3px solid $MAIN_COLOR;
    border-radius: 10px;
  }

  button {
    max-width: 217px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 26px;
    color: white;
    padding-left: 50px;
    font-weight: 700;
    background: url('/assets/search.svg') 21% 50% no-repeat $MAIN_COLOR;
  }
}
