li {
  margin-bottom: 40px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    position: relative;
    height: 32px;
    background-repeat: no-repeat;
    padding-left: 48px;

    img {
      margin-right: 16px;
    }
  }

  button {
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    padding-left: 48px;
    height: 34px;

    &::after {
      content: '';
      border: none;
      width: 15px;
      height: 15px;
      position: absolute;
      right: 0;
      background: url('../../../public/triangle.svg') no-repeat center/contain;
    }
    &.visible::after {
      transform: rotate(60deg);
      transition: transform 0.2s linear;
    }
  }

  ul {
    display: none;

    &.visible {
      margin: 30px 0 0 50px;
      display: block;
    }

    li a {
      height: fit-content;
    }
  }
}
