main {
  height: calc(100vh - 80px);
  width: 100%;
  padding: 0 32px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4f27bf;
    border: 1px solid #555555;
  }

  h2 {
    padding: 32px 0 16px 0;
    font-weight: 700;
  }

  p {
    padding-bottom: 24px;
    white-space: pre-line;
  }
}
