nav {
  max-width: 300px;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  padding: 32px;
  font-weight: 700;

  &.hidden {
    width: 0;
    opacity: 0;
    padding: 10px;
  }

  p {
    margin-bottom: 32px;
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.nav-btn {
  position: fixed;
  left: 0;
  top: 76px;
  z-index: 10;
  cursor: pointer;
  border: none;
  font-size: 22px;
  border-radius: 0 0 10px;
  background-color: #4f27bf;
  color: white;
  opacity: 0;

  @media screen and (max-width: 768px) {
  opacity: 100;
  }
}
