nav {
  width: 300px;
  // height: 100vh;
  // overflow-y: scroll;
  top: 80px;
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  padding: 32px;
  font-weight: 700;

  ul {
    list-style-type: none;
    padding: 0;
  }
}
