nav {
  width: 100%;
  max-width: 300px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  position: relative;
  box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
  padding: 32px;
  font-weight: 700;
  box-sizing:border-box;
  background-color: #fff;

  &.hidden {
    width: 0;
    opacity: 0;
    padding: 10px;
  }

  p {
    margin-bottom: 32px;
    font-size: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  span {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    width: fit-content;
    padding: 22px;
  }
}
