@import '../../styles/styleConstants.scss';

header {
  color: #fff;
  background-color: $MAIN_COLOR;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  width: 100vw;
}
